/* Estilização do componente */

#app {
    max-width: 1200px; /*Largura max de 1200 pixels*/
    margin: 0 auto;
    padding: 60px 30px; /*60 em cima e embaixo / 30 na esquerda e na direita*/
    display: flex; /*acho q habilita o flex-direction*/
    flex-direction: row;  /*Pra tudo que está em "app" fique em uma linha, ou seja um do lado do outro*/
    align-items: flex-start; /*Pra que as tags do "app" fiquem alinhada ao topo*/
}

#app main{
    margin-left: 30px;
}

@media (max-width: 1000px) {
    #app{
        flex-direction: column;
    }
    #app main{
        margin-left: 0;
        margin-top: 30px;
    }
    #app aside{
        width: 100%;
    }
}